@import url("https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap");

$font: "Rubik", sans-serif;
$primary: #1ba8d3;
$bg: #fff;
$light: #fafafa;
$dark: #222;

* {
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  font-family: $font;
  font-size: 15px;
  color: $dark;
}

@function legible($bg) {
  @if lightness($bg) > 50% {
    @return $dark;
  } @else {
    @return $light;
  }
}

.button {
  appearance: none;
  position: relative;
  border: 0;
  margin: 8px;
  padding: 0.5em;
  font-weight: 500;
  background-color: $primary;
  color: legible($primary);
  box-shadow: 0 0 0 0 rgba($primary, 0.5), 0 2px 4px rgba(#000, 0.25);
  border-radius: 4px;

  transition: all 100ms;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    transition: all 300ms ease-out;
  }

  &:focus {
    outline: none;
  }

  &:hover,
  &:focus {
    box-shadow: 0 0 0 2px rgba($primary, 0.5), 0 2px 4px rgba(#000, 0.25);

    &::before {
      box-shadow: 0 0 0 8px rgba($primary, 0);
    }
  }

  &:active {
    box-shadow: 0 0 0 0 rgba($primary, 0), 0 2px 4px rgba(#000, 0.25);

    &::before {
      box-shadow: 0 0 0 0px rgba($primary, 1);
      transition: all 0ms;
    }
  }

  &:disabled {
    box-shadow: 0 0 0 0 rgba($primary, 0), 0 2px 4px rgba(#000, 0.25);
    background-color: #ddd;
    color: #aaa;
  }

  &.caps {
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  &.small {
    padding: 0.25em 0.5em;
  }
}

.button-outline {
  @extend .button;

  border: 1px solid #aaa;
  box-shadow: none;
  background-color: transparent;
  color: $primary;

  &:hover,
  &:focus {
    box-shadow: none;
    border: 1px solid rgba($primary, 0.5);
    background-color: rgba($primary, 0.1);
  }

  &:active {
    background-color: rgba($primary, 0.2);
  }

  &:disabled {
    box-shadow: none;
    border: 1px solid #bbb;
    background-color: transparent;
    color: #bbb;
  }
}

.button-flat {
  @extend .button;

  box-shadow: none;
  background-color: transparent;
  color: $primary;

  &:hover,
  &:focus {
    box-shadow: none;
    background-color: rgba($primary, 0.2);
  }

  &:active {
    background-color: rgba($primary, 0.3);
  }

  &:disabled {
    box-shadow: none;
    background-color: transparent;
    color: #aaa;
  }
}
